html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}
body {
    margin: 0px;
}
header {
    background-color: rgb(136, 158, 175);
    vertical-align: middle;
}
h1 {
    margin:0px ;
    display: inline-block;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
}
header nav li {
    text-align: center;
    padding: 20px;
}
header nav a {
    text-decoration: none;
    color: black;
}
header nav ul {
    margin: 0px
}
li.current {
    background-color: gray;
}
a.aktuel{
    color: whitesmoke;
}
a:hover{
    color: rgb(136, 158, 175);
}
header li:hover{
    background-color: black;
}
nav {
    border-top: solid;
}
img {
    width: 79.1px;
    vertical-align: bottom;
}
.center {
    padding: 70px;
    border: 3px;
}
article ol {
    list-style-type:"🥪";
}

article ul {
    list-style-type:"🥂";
}